<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Movie Catalog</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700|Limelight' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../styles.css">
</head>
<body>

  <header>
    <h1><a href="/movies">The Movie Catalog</a></h1>
  </header>

  <div class="actor-info">
      <img src="/../../actor.png" width="300px">
      <h2><%= @roles[0][0] %></h2>
      <div class="nav"><a href="javascript:history.back()">Back</a></div>
  </div>

  <div class="cast">
    <h3>Roles</h3>
    <ul>
      <% @roles.each do |role| %>
        <li><a href="<%= url("movies/#{role[3]}") %>"><%= role[1] %></a> . . . <%= role[2] %></li>
      <% end %>
    </ul>
  </div>

</body>
</html>
