* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  width: 90%;
  margin: 5em;
}

header {
  margin-bottom: 2em;
}

h1, h1 a {
  font-family: 'Limelight', serif;
  letter-spacing: .025em;
  text-transform: uppercase;
  color: #000000;
}

a {
  text-decoration: none;
  color: #516dba;
  font-weight: bold;
}

a:hover {
  color: #db7272;
}

ul {
  margin-left: 1em;
}

li {
  margin: .5em 0;
  font-size: 105%;
}
.nav {
  font-size: 65%;
}

.movie-info, .actor-info {
  float: left;
  width: 40%;
  font-size: 2em;
}

.movie-info ul {
  margin-left: .1em;
  list-style: none;
}

.cast {
  float: left;
  width: 40%;
  margin-top: 1em;
}

.cast h3 {
  border-bottom: 1px solid black;
}

.label {
  font-weight: bold;
}

.studio {
  font-style: italic;
  font-size: .75em;
}
